{% extends "layout.html" %}


{% block page_content %}
	{{super()}}
	{% for game_info in game_infos %}
		<h2>{{game_info.title}}</h2>
		
		<ul class="list-group">
			<li class="list-group-item"> {{game_info.size}} </li>
			<li class="list-group-item"> {{game_info.developer}} </li>
			<li class="list-group-item"> {{game_info.current_version}} </li>
			<li class="list-group-item"> {{game_info.content_rating}} </li>
			<li class="list-group-item"> {{game_info.game_rate}} </li>
			<li class="list-group-item"> {{game_info.installs}} </li>
		</ul>
	{% endfor %}

{% endblock %}